<h1>Dashboard</h1>

<br>
<h2>Total Amount of Products:</h2> 
<p style="font-size: 1.5em"><%= @products %></p>
<br>
<h2>Total Amount of Categories:</h2> 
<p style="font-size: 1.5em"><%= @categories %></p>