<h1>About Us</h1>
<p>
  <br>
  Welcome to Jungle. We provide affordable, timeless plants to bring joy to your environment.
  <br>
  We offer a wide variey of plants to decorate your home, office, garden or any other area.
</p>